@page
@using Microsoft.AspNetCore.Http
@model ShoppingAssignment_SE151263.Pages.CustomerDetail.OrderHistoryModel
@{
    ViewData["Title"] = "Order history";
    Console.WriteLine("Toi la nguoi phan quyen OrderHistory!");
    if (HttpContext.Session.GetString("customerID") == null)
    {
        Console.WriteLine("User chua login!");
        <div class="text-center">
            <a class="btn btn-danger" asp-page-handler="Logout" asp-page="/Login">Back to login</a>
        </div>
    }
    else if (Model.Orders.Count == 0)
    {
        <h3 class="text-center text-danger">Quý khách chưa mua gì ở cửa hàng chúng tôi cả!</h3>
    }
    else
    {
        <div class="text-center">
            <h1 class="text-info">ORDER HISTORY</h1>
        </div>
        <br />

        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].CustomerId)
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.OrderDateSort">
                            @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
                        </a>
                    </th>
                    <th>
                       @Html.DisplayNameFor(m => m.Orders[0].RequiredDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].ShippedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].Freight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].ShipAddress)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.RequiredDate)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.ShippedDate)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Freight)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.ShipAddress)
                        </td>
                        <td class="text-center">
                            <a asp-page="./OrderDetailCustomer" asp-route-id="@item.OrderId"> Details </a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        var prevDisabled = !Model.Orders.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Orders.HasNextPage ? "disabled" : "";

        <div class="text-center">
            <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Orders.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">Previous</a>

            <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Orders.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">Next</a>
        </div>

    }
}
