@page
@using Microsoft.AspNetCore.Http
@model ShoppingAssignment_SE151263.Pages.OrderDetails.IndexModel

@{
    ViewData["Title"] = "Index";
    Console.WriteLine("Toi la nguoi phan quyen!");
    if (HttpContext.Session.GetString("EmailAdmin") == null)
    {
        Console.WriteLine("User chua login!");
        <div class="text-center">
            <a class="btn btn-danger" asp-page-handler="Logout" asp-page="/Login">Back to login</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="text-info">ORDER DETAIL LIST</h1>
        </div>
        <div class="text-right">
            <a class="btn btn-info" asp-page="Create">Create a new order detail</a>
        </div>
        <br />
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails[0].Order.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails[0].Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails[0].UnitPrice)
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.QuantitySort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.OrderDetails[0].Quantity
                    )
                        </a>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Order.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        var prevDisabled = !Model.OrderDetails.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.OrderDetails.HasNextPage ? "disabled" : "";

        <div class="text-center">
            <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.OrderDetails.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @prevDisabled">Previous</a>

            <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.OrderDetails.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisabled">Next</a>
        </div>
    }
}

